@font-face {
  font-family: "iconfont"; /* Project id 3138095 */
  src: url('iconfont.woff2?t=1643112790623') format('woff2'),
       url('iconfont.woff?t=1643112790623') format('woff'),
       url('iconfont.ttf?t=1643112790623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-jiazai_shuaxin:before {
  content: "\eaf4";
}

.icon-shipinbofangshibofang:before {
  content: "\e62b";
}

.icon-24gf-headphones:before {
  content: "\ea10";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

